<div class="container mt-sm">
  <h2 class="title-lg">We got here <%= @questions.count %> questions:</h2>
</div>

<% @questions.each do |question| %>
  <div class="mt-sm container">
    <%= render question %>
  </div>
<% end %>
