<div class="container">
  <h2 class="title-lg mb">All questions:</h2>

  <% @questions.each do |question| %>
    <% question_first_words = "#{question.id}: #{question.body.split[0,3].join(" ").capitalize}" %>
    <% if question.body.split.size > 3 %>
      <% question_title = question_first_words + "..." %>
    <% else %>
     <% question_title = question_first_words %>
    <% end %>

    <% hidden_klass = question.hidden ? "question-hidden" : "question-visible" %>
    <%= content_tag :p, class: ["mb-sm", hidden_klass] do %>
      <%= link_to "Question #{question_title}", question_path(question) %>
    <% end %>
  <% end %>

  <div class="mt">
    <%= link_to 'Create new question', new_question_path, class: 'button button-main' %>
  </div>
</div>
