<div class="container">
  <h2 class="title-lg mb">All questions:</h2>

  <% @questions.each do |question| %>
    <p class="mb-sm"><%= link_to "Question: #{question.body.split[0,3].join(" ").capitalize}", question_path(question) %></p>
  <% end %>

  <div class="mt">
    <%= link_to 'Create a new question', new_question_path, class: 'button button-main' %>
  </div>
</div>
