.message {
  border: 1px solid #d0d0d0;
  padding: 10px 15px;
}

.message-notice {
  background-color: wheat;
  border-color: #ecaa26;
}

.message-alert {
  background-color: rgb(239, 161, 119);
  border-color: #d33d07;
}