.question-hidden {
  opacity: 0.5;
}

.question-footer {
  border-top: 1px solid silver;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.question-separator {
  margin-bottom: 2px;
  margin-top: 8px;
}

.question-author {
  border-bottom: 1px solid silver;
  padding-bottom: 0px;
}
